@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#content {
    display: grid;
    grid-template-columns: 1fr 3.75fr;
}

.sidebar {
    height: 100vh;
    background-color: #0077B6;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    display: grid;
    align-content: start;
    gap: 1rem;
}

.sidebar > div {
    display: grid;
    align-items: center;
    grid-template-columns: min-content max-content;
    grid-template-rows: max-content max-content;
    gap: 0.5rem;
    
}

.projects > p {
    margin-top: 0.5rem;
    grid-column: 2 / -1;
}

.maincontent {
    background-color: #ADE8F4;
    padding: 5rem;
}

.inboxlogo {
    font-size: 3rem;
    font-weight: 900;
    color: #0077B6;
    margin-bottom: 3rem;
}

.task {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.popup {
    background-color: #90E0EF;
    height: 50vh;
    width: 50vw;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 1rem;
    border: 5px solid #023E8A;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(6 min-content);
    gap: 0.5rem;
    font-size: 1.25rem;
}

label {
    display: grid;
}

.prioritylabel > div{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.submit {
    background-color: #023E8A;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 1rem;
    width: max-content;
    justify-self: center;
    padding: 0.5rem;
    border-color: #0077B6;
}

